<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <div class="nav-bar">
            <button mat-raised-button (click)="drawer.toggle()" [routerLink]="['/alumnos']">
                Alumnos
            </button>
            <button mat-raised-button (click)="drawer.toggle()" [routerLink]="['/cursos']">
                Cursos
            </button>
            <button mat-raised-button (click)="drawer.toggle()" [routerLink]="['/login']">
                Cerrar sesión
            </button>
        </div>
    </mat-drawer>

    <div class="example-sidenav-content">
        <mat-toolbar>
            <button (click)="drawer.toggle()" mat-icon-button class="example-icon"
                aria-label="Example icon-button with menu icon">
                <mat-icon>menu</mat-icon>
            </button>
            <span appFontSize>Gestor de Alumnos</span>
        </mat-toolbar>

    </div>
</mat-drawer-container>