<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <p>Auto-resizing sidenav</p>
        @if (showFiller) {
        <p>Lorem, ipsum dolor sit amet consectetur.</p>
        }
        <button (click)="showFiller = !showFiller" mat-raised-button>
            Toggle extra text
        </button>
    </mat-drawer>

    <div class="example-sidenav-content">
        <mat-toolbar>
            <button (click)="drawer.toggle()" mat-icon-button class="example-icon"
                aria-label="Example icon-button with menu icon">
                <mat-icon>menu</mat-icon>
            </button>
            <span appFontSize>Gestor de Alumnos</span>
        </mat-toolbar>

    </div>
</mat-drawer-container>