<form [formGroup]="alumnoForm" (ngSubmit)="onSubmit()">
    <div id="container-crear-alumno">
        <mat-form-field class=" example-form-field">
            <mat-label>Nombre</mat-label>
            <input matInput type="text" formControlName="nombre">
        </mat-form-field>

        <mat-form-field class="example-form-field">
            <mat-label>Apellido</mat-label>
            <input matInput type="text" formControlName="apellido">
        </mat-form-field>

        <mat-form-field class="example-form-field">
            <mat-label>Curso</mat-label>
            <input matInput type="text" formControlName="carrera">
        </mat-form-field>


        <button class="boton-enviar" mat-raised-button>Enviar</button>
    </div>
</form>