.example-form-field {
  width: 80%;
  margin: 0 auto;
}
#container-crear-clase {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
.boton-enviar {
  width: 20%;
  margin-left: 40px;
}
